.about {
	width: 100%;
	align-items: center;
	padding-top: 50px;
	background: $lightRichBlack;

	&_container {
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 80rem;
		padding: 96px 0 !important;

		@media (max-width: 1300px) {
			padding: 96px 36px !important;
		}

		&_chip {
			&_text {
				font-weight: 500 !important;
				font-size: 0.875rem;
				line-height: 1.25rem;
				background: $charcoal;
				text-align: center;
				padding: 4px 20px;
				border-radius: 0.75rem;
				margin-bottom: 50px !important;
			}
		}
		&_text {
			text-align: center;

			&_h3 {
				font-size: 3rem !important;
				line-height: 2.5rem !important;
				font-weight: 700 !important;
				margin-bottom: 50px !important;
			}
			&_typo {
				font-size: 1.375rem !important;
				line-height: 2rem !important;
				font-weight: 400 !important;
				margin-bottom: 20px !important;

				&_a {
					text-decoration: underline;
					color: $lavender;
					font-weight: 700 !important;
				}
			}
		}
	}
}
