.footer {
	width: 100%;
	align-items: center;
	background: var(--light-rich-black);

	&_container {
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 80rem;
		padding: 32px 0 !important;

		@media (max-width: 1300px) {
			padding: 96px 36px !important;
		}
		@media (max-width: 600px) {
			padding: 96px 16px !important;
		}
	}
}
