.header {
	width: 100%;
	align-items: center;
	padding-top: 100px;

	&_container {
		flex-direction: row-reverse !important;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 80rem;
		padding: 96px 0 !important;

		@media (max-width: 1300px) {
			padding: 96px 36px !important;
		}

		@media (max-width: 810px) {
			flex-direction: column !important;
		}

		&_logo {
			position: relative;

			@media (max-width: 810px) {
				margin-bottom: 50px;
			}

			&_img {
				position: absolute;
				top: -50px;
				left: -50px;
				width: 300px;
				height: 300px;
				max-width: 300px;
				height: 300px;
				border: 8px solid $richBlack;

				@media (max-width: 810px) {
					top: 10px;
					left: 10px;
					width: 280px !important;
					height: 280px !important;
				}
			}

			&_shape {
				background: $charcoal;
				width: 300px;
				height: 300px;
			}
		}
		&_text {
			@media (max-width: 810px) {
				text-align: center;
			}

			&_h1 {
				font-size: 60px !important;
				font-weight: 700 !important;
				letter-spacing: -0.02em;
				line-height: 72px !important;
				margin-bottom: 5px !important;

				&::after {
					content: '👋';
				}

				@media (max-width: 1021px) {
					font-size: 48px !important;
					line-height: 60px !important;
				}
				@media (max-width: 380px) {
					font-size: 36px !important;
					line-height: 48px !important;
				}
			}
			&_h2 {
				font-size: 24px !important;
				font-weight: 400 !important;
				letter-spacing: -0.02em;
				line-height: 36px !important;
				margin-bottom: 20px !important;
			}
			&_p {
				font-size: 16px !important;
				font-weight: 400 !important;
				letter-spacing: -0.02em;
				line-height: 24px !important;
				margin-bottom: 20px !important;
				width: 75%;

				@media (max-width: 810px) {
					width: 100%;
				}
			}
		}
	}
}
