.nav {
	justify-content: space-around;
	align-items: center;
	flex-direction: row !important;
	max-width: 2000px;
	margin: 0 auto;
	background: $grey;
	height: 10vh;

	@media (max-width: 1000px) {
		justify-content: space-between;
	}

	&_left {
		@media (max-width: 1000px) {
			margin: 0 auto;
		}

		&_link {
			font-size: 1.6em !important;
			font-weight: 700 !important;
			font-family: 'Rubik', sans-serif !important;
			text-decoration: none !important;
			color: $lightBlue !important;
		}
	}

	&_right {
		@media (max-width: 1000px) {
			margin: 0 50px;
		}

		&_ul {
			display: flex;
			flex-direction: row !important;
			padding: 0;

			@media (max-width: 1000px) {
				display: none;
			}

			&_drawer {
				text-align: center;
				background: $lightBlue;
				z-index: 1;
				border-radius: 0 0 6px 6px;
				padding: 25px;
				box-shadow: 2px 2px 6px $lightBlue;
			}
		}

		&_li {
			font-weight: 700 !important;
			border-radius: 6px;
			padding: 5px 10px;
			cursor: pointer;
			transition: all 0.3s;
			text-decoration: none;
			font-family: 'Rubik', sans-serif !important;
			margin: 0 10px;

			.MuiLink-root {
				font-size: 1.2em !important;
				color: $lightBlue !important;
				text-decoration: none;
			}

			&:hover {
				background: $lightBlue;
			}
			&:hover .MuiLink-root {
				color: $grey !important;
			}

			@media (max-width: 1000px) {
				width: 50%;
				margin: auto;

				.MuiLink-root {
					width: 100%;
					text-align: center;
					color: $grey !important;
				}

				&:hover {
					background: $grey;
				}
				&:hover .MuiLink-root {
					color: $lightBlue !important;
				}
			}
			@media (max-width: 600px) {
				width: 90%;
			}
		}
		&_burger {
			display: none !important;
			font-size: 4em !important;
			color: $lightBlue !important;
			background: none;
			padding: 5px 10px;
			border-radius: 6px;
			cursor: pointer;

			@media (max-width: 1000px) {
				display: block !important;
			}
		}
	}
}
