@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset CSS */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
	list-style: none;
}

/* Remove default padding */
html,
body {
	padding: 0;
}

/* Remove border */
body {
	border: 0;
}

/* Set default font family */
body {
	background: $richBlack;
	color: $lavender !important;
	font-family: 'Roboto', sans-serif;
}
